{% extends 'base.html' %}
{% load static %}


{% block main %}


<div class="row recuo-vertical">
    <div class="col">
        <h2>Detalhes Avaliacao: {{ avaliacao.id }}</h2>
        <p>
          <a class="btn btn-info" data-toggle="collapse" href="#infoAvaliacao" role="button" aria-expanded="false" aria-controls="collapseExample">
            Informações da Avaliacao
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#legal" role="button" aria-expanded="false" aria-controls="collapseExample">
            Legal
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#assesment" role="button" aria-expanded="false" aria-controls="collapseExample">
            Assesment - Diagnostico
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#orgproc" role="button" aria-expanded="false" aria-controls="collapseExample">
            Organização e Processo
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#riscseg" role="button" aria-expanded="false" aria-controls="collapseExample">
            Risco e Segurança
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#govpriv" role="button" aria-expanded="false" aria-controls="collapseExample">
            Governança da Privacidade
          </a>
          <a class="btn btn-info" data-toggle="collapse" href="#bi" role="button" aria-expanded="false" aria-controls="collapseExample">
            B.I.
          </a>
        </p>

        <div class="collapse col-sm-6" id="infoAvaliacao">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ avaliacao.id }}</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">Projeto associado</th>
                    <td>{{ avaliacao.projeto }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>{{ avaliacao.status }}</td>
                </tr>
                <tr>
                    <th scope="row">Avaliador</th>
                    <td>{{ avaliacao.avaliador }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}