{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="row recuo-vertical">
    <div class="col-sm-6">
        <h3>Adicionar Avaliação</h3>
        <form action="{% url 'evaluations_avaliacao_novo' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                  <td>
                      {{ form.projeto|as_crispy_field }}</td>
                </tr>
                <tr>
                    <td>{{ form.avaliador|as_crispy_field }}</td>
                </tr>
                <tr>
                  <td>{{ form.status|as_crispy_field }}</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>

{% endblock %}