{% extends 'base.html' %}


{% block main %}

<div class="row recuo-vertical">
    <div class="col-sm-6">
        <h1>Minhas Avaliações</h1>
        {% if avaliacoes %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">projeto</th>
                    <th scope="col">avaliador</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for avaliacao in avaliacoes %}
                <tr>
                        <th scope="row">{{ avaliacao.id }}</th>
                        <td>{{ avaliacao.projeto }}</td>
                        <td>{{ avaliacao.avaliador }}</td>
                        <td><a class="btn btn-outline-info btn-sm m-0"
                               href="{% url 'evaluations_avaliacao_detail' avaliacao.id %}">
                                    Detalhes</a></td>
                        <td><a class="btn btn-outline-info btn-sm m-0"
                               href="{% url 'evaluations_avaliacao_update' avaliacao.id %}">
                                    Atualizar</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
            <p>Não há avaliações cadastradas para o usuário "{{ user }}" no banco de dados.</p>
        {% endif %}


    </div>
</div>

{% endblock %}